.vscode/
*/objects/
*/.cache/
*/compile_commands.json
compile_commands.json
.cache/
*.o
libserver.a
libparser.a
libhttp.a
webserv
test_parser
test_server
test_socket
client
test_http
*.d
*.dSYM
stds
ubuntu_tester
